<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gallerylibrary">

    <application>
        <activity android:name=".Slib" />
        <activity android:name=".Grid" />
        <activity
            android:name=".Views"
            android:label="@string/title_activity_views"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>